@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.headerindex {
  background-image: url(../images/banner.jpg);
}

.img-banner {
  background-image: url(../images/banner.jpg);
  width: 100%;
}

.nav {
  font-family: "Rubik Mono One", monospace;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  background-image: url(../images/banner.jpg);
}

.main-index {
  background-color: rgba(255, 165, 0, 0.6705882353);
}

.footer {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  color: black;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.footer {
  background-color: orange;
}

.img-footer {
  height: 70px;
}

/*index*/
.logo {
  width: 250px;
}

.img-body {
  display: flex;
  justify-content: center;
}
.img-navv {
  width: 100%;
  margin-top: 20px;
}
.img-nav {
  width: 500px;
  padding: 10px;
  overflow: hidden;
}

/*menu*/
.caract-body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  color: black;
}

.cabaña {
  font-family: "Nunito", sans-serif;
}

/*cabaña*/
.foto {
  width: 550px;
  padding: 5px 5px;
}

.logo-cabana {
  width: 150px;
}

.main-cabana {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: map-get fontsize-mood, siete;
  background-color: rgba(255, 165, 0, 0.6705882353);
  padding-top: 15px;
}
.main-cabana section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cabana ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-cabana {
  padding: 5px;
  width: 90%;
}

.nav-cabana {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/banner.jpg);
}

/*reserva*/
.tarifa {
  font-family: "Nunito", sans-serif;
  display: flex;
  background-color: rgba(255, 165, 0, 0.6705882353);
  font-size: 20px;
  justify-content: center;
  padding-top: 20px;
}
.tarifa-ul {
  background-color: rgba(255, 165, 0, 0.6705882353);
  padding-top: 15px;
}

.card {
  background-color: rgba(255, 165, 0, 0.8392156863);
  display: grid;
  gap: 5px;
  padding-top: 15px;
}
.card-section {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  justify-content: center;
  background-color: blue;
  display: flex;
}

/*contacto*/
.img-contacto {
  background-image: url(../images/headerr.jpg);
  height: 450px;
  background-position: center;
  background-size: inherit;
  margin-top: 20px;
}

.contacto {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  background-color: rgba(255, 165, 0, 0.6705882353);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-planilla {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  display: flex;
}
.contacto-planilla div {
  display: flex;
  flex-direction: column;
}
.contacto-p {
  padding-top: 15px;
}
.contacto-sub {
  padding-top: 15px;
}

.nav-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../images/banner.jpg);
}

.botom-contacto {
  padding-top: 10px;
}

/*ubicacion*/
.ubicacion {
  font-family: "Nunito", sans-serif;
  background-color: rgba(255, 165, 0, 0.6705882353);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../images/banner.jpg);
}

.maps {
  padding-top: 20px;
  padding-bottom: 30px;
}

/*media queries de desktop a mobile*/
/*desktop*/
@media (max-width: 1020px) and (min-width: 768px) {
  .img-cabana {
    flex-wrap: wrap;
    justify-content: center;
  }
  .foto {
    height: 500px;
    width: 800px;
  }
  .main-cabana {
    font-size: 22px;
  }
  .maps {
    width: 60%;
  }
}
/*tablet*/
@media (max-width: 769px) and (min-width: 420px) {
  .imgcabana {
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgcabanacontacto {
    height: 300px;
  }
  .foto {
    width: 90%;
  }
  .navbar-expand-lg {
    display: block;
  }
  .caract-index {
    flex-wrap: wrap;
  }
  .foto {
    padding: 5px 5px;
  }
  .maps {
    width: 50%;
  }
}
/*mobile*/
@media (max-width: 421px) {
  .img-cabana {
    flex-wrap: wrap;
  }
  .img-nav {
    width: 90%;
    align-items: center;
  }
  .foto {
    width: 90%;
    justify-content: center;
  }
  .caract-index {
    flex-wrap: wrap;
  }
  .navbar-expand-lg {
    display: block;
  }
  /*tarifa*/
  .tarifa {
    flex-direction: column;
    align-items: center;
  }
  .maps {
    width: 70%;
  }
  .card-section {
    padding-right: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
