/*index*/

.logo{
    width: 250px;
    
    
}


.img{
    &-body{
    @include flex-center;
    }

    &-navv{
    width: $width-full;
    margin-top: 20px;
    }
    &-nav{
    width: 500px;
    padding: 10px;
    overflow: hidden;
    }
}


/*menu*/
.caract-body{
    font-family: $font-body;
    @include flex-center;
    color: black
    
    
}

.cabaña{
      font-family: $font-body;

}

/*cabaña*/
.foto{
    width: 550px;
    padding: 5px 5px;
}

.logo-cabana{
    width: 150px;

}

 
.main-cabana{
    @include flex-column-aling;
    font-family: $font-body;
    color: black;
    font-size: map-get (fontsize-mood , siete);
    background-color: $under-color;
    padding-top: 15px;

    section{
        @include flex-column-aling;  }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
     } 
 }
 
 
 .img-cabana{
    padding: 5px;
    width: 90%;
    
 }

 .nav-cabana{
    @include flex-center;
    width: $width-full;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/banner.jpg);
    
 }


/*reserva*/
.tarifa{
    font-family: $font-body;
    display: flex;
    background-color: $under-color;
    font-size: map-get($fontsize-mood, veinte);
   justify-content: center;
   padding-top: 20px;

   &-ul{
    background-color: $under-color;
    padding-top: 15px;
   }

   
 }


 .card{
   background-color: #ffa500d6; 
  display: grid;
  gap: 5px;
  padding-top: 15px;

  &-section{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
   
  }
.btn{
    justify-content: center;
    background-color:blue;
    display: flex;
}



/*contacto*/
.img-contacto{
    background-image: url(../images/headerr.jpg);
    height: 450px;
    background-position: center;
    background-size: inherit;
    margin-top: 20px;
}

.contacto{
    font-family: $font-body;
    font-size: 18px;
    background-color: $under-color;
    font-size: map-get($fontsize-mood,veinte);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-planilla{
        font-family:'Nunito', sans-serif; 
        font-size: 20px;
        display: flex;
        div{
            display: flex;
            flex-direction: column;
        }
    }
    &-p{
        padding-top: 15px;
    }
    &-sub{
        padding-top: 15px;
    }
}

.nav-contacto{
    @include flex-column-aling;
    justify-content: center;
    width: $width-full; 
    background-image: url(../images/banner.jpg);
}
.botom-contacto{
    padding-top: 10px;
}

/*ubicacion*/
.ubicacion{
    font-family: $font-body;
    background-color: $under-color;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-ubicacion{
    @include flex-column-aling;
    justify-content: center;
    width: $width-full;
    background-image: url(../images/banner.jpg);
}
.maps{
    padding-top: 20px;
    padding-bottom: 30px;
}