.footer{
    font-family: $font-body;
    display: flex;
    justify-content: center;
    color: black;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}

.footer{
    background-color: orange;
}
.img-footer{
    height: 70px;
}
