//variables
$under-color: #ffa500ab;
$width-full: 100%;
$font-body: "Nunito", sans-serif; 
$font-nav: 'Rubik Mono One', monospace;

//maps get
$fontsize-mood:(
    //mood    size
    siete     17px
    viente    20px
)

